@model             Login
@{
    ViewData["Title"] = "Mokkilicores";

}

<div class="text-center">
    <h1 class="display-4">Mokkilicores</h1>
    <p>Seleccione una opcion para continuar en el menu de arriba. </p>

  



</div>
