@model             Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <input asp-for="ClienteID" class="form-control" />
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canton" class="control-label"></label>
                <input asp-for="Canton" class="form-control" />
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distrito" class="control-label"></label>
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistorialTotalDinero" class="control-label"></label>
                <input asp-for="HistorialTotalDinero" class="form-control" />
                <span asp-validation-for="HistorialTotalDinero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimoAnoDinero" class="control-label"></label>
                <input asp-for="UltimoAnoDinero" class="form-control" />
                <span asp-validation-for="UltimoAnoDinero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadSeisMesesDinero" class="control-label"></label>
                <input asp-for="CantidadSeisMesesDinero" class="form-control" />
                <span asp-validation-for="CantidadSeisMesesDinero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
